@model List<OmerFarukIrmakProject.Models.CarName>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:cadetblue;margin-left:50px;">Ferrari Sound</h1>

@foreach (var cars in Model)
{<div>

        <img style="width:400px;height:200px;float:left;" src="~/Images/A4YmwmvUxzMYI9a-Dark-Black-Ferrari-PNG.png" />
    </div>
    <div style="font-size: 2em; color: darkgray; text-align:center;">

        @cars.CarsName
        <hr />
    </div>

}



